{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!--Start of Tawk.to Script-->

<!-- <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/6698d8a332dca6db2cb19600/1i32gsg04';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
  })();
</script> -->
  <!--End of Tawk.to Script-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
  <nav class="social-new" style="width: 50px;">
    <ul>
      <li>
        <a href="https://www.facebook.com/nkmkofficial" class="menu-item" target="_blank">
          Facebook
          <img src="https://actual.ngmk.uz/assets/public/icons/facebook.png">
        </a>
      </li>
      <li>
        <a href="https://t.me/ngmkofficial" class="menu-item" target="_blank">
          Telegram
          <img src="https://actual.ngmk.uz/assets/public/icons/telegram.png">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/nkmk.official" class="menu-item" target="_blank">
          Instagram
          <img src="https://actual.ngmk.uz/assets/public/icons/instagram.png">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/nkmkofficial" class="menu-item" target="_blank">
          YouTube
          <img src="https://actual.ngmk.uz/assets/public/icons/youtube.png">
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/company/jsc-nmmc/" class="menu-item" target="_blank">
          Linkedin
          <img src="https://actual.ngmk.uz/assets/public/icons/linkedin.png">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/jsc_nmmc" class="menu-item" target="_blank">
          Twitter
          <img src="https://actual.ngmk.uz/assets/public/icons/twitter.png">
        </a>
      </li>
    </ul>
  </nav>

<section class="banner-section-two">
  <div class="banner-carousel owl-carousel owl-theme" style="margin-top: 32pt;">
    <!-- Slide Item -->
    <div class="slide-item"
      style="background-image: url(https://www.ngmk.uz/assets/public/images/main-slider/muruntau.jpg);">
      <div class="content-box">
        <div class="content">
          <div class="auto-container">
            <h2><span class="theme_color" style="text-shadow: 0 0 10px #000">Jahondagi oltin qazib olish<br> sohasidagi
                yetakchilardan biri</span></h2>
            <div class="btn-box">
              <a href="https://www.kun.uz" class="theme-btn btn-style-two"><span
                  class="btn-title">Kombinat to‘g‘risida</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide Item -->
    <div class="slide-item" style="background-image: url(https://www.ngmk.uz/assets/public/images/main-slider/3.jpg);">
      <div class="content-box">
        <div class="content">
          <div class="auto-container">
            <h2><span class="theme_color" style="text-shadow: 0 0 10px #000">Innovatsion texnologiyalar</span></h2>
            <div class="btn-box">
              <a href="https://www.ngmk.uz/uz/home/blog/proizvodstvo/innovatsionnie-texnologii"
                class="theme-btn btn-style-two"><span class="btn-title">Batafsil</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide Item -->
    <div class="slide-item" style="background-image: url(https://www.ngmk.uz/assets/public/images/main-slider/4.jpg);">
      <div class="content-box">
        <div class="content">
          <div class="auto-container">
            <h2><span class="theme_color" style="text-shadow: 0 0 10px #000">Bizning yutuqlarimiz</span></h2>
            <div class="btn-box">
              <a href="https://www.ngmk.uz/uz/home/blog/press-tsentr/nashi-dostizheniya"
                class="theme-btn btn-style-two"><span class="btn-title">Batafsil</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide Item -->
    <div class="slide-item"
      style="background-image: url(https://www.ngmk.uz/assets/public/images/main-slider/career.jpg);">
      <div class="content-box">
        <div class="content">
          <div class="auto-container">
            <h2>Bo'sh ish o'rinlari</h2>
            <div class="btn-box">
              <a href="https://mehnat.ngmk.uz/uz" target="_blank" class="theme-btn btn-style-two"><span
                  class="btn-title">Batafsil</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<main>
  <br>
  <section class="about-section" style="background: #273140">
    <div class="auto-container">
      <div class="row">
        <!-- Content Column -->
        <hr class="featurette-image">
        <div class="content-column col-lg-7 col-md-12 col-sm-12 order-2">
          <div class="inner-column">
            <div class="sec-title" style="padding-top: 0">
              <h2 style="color: yellow;">Kombinat to‘g‘risida</h2>
            </div>
            <div class="text-box">
              {% blocktrans %}
              <p style="color: #ffffff ; font-size: 17.5px; text-align: center;" > Navoiy kon-metallurgiya kombinati" aksiyadorlik jamiyati ("NKMK" AJ) jahonda
                oltin ishlab chiqaruvchi yirik kompaniyalar o‘ntaligiga kiradi. Kombinat yer osti boyliklari
                zaxiralarini geologik qidirish, qazib olish va qayta ishlashdan to tayyor mahsulot olishgacha bo‘lgan
                ishlab chiqarish jarayonlari to‘liq amalga oshiriladigan sanoat klasteridir. Kombinat zamonaviy
                kon-transport va texnologik uskunalar, ilg‘or texnologiyalar bilan jihozlantirilgan konlar, zavodlarga
                ega zamonaviy korxonadir. "NKMK" AJning “999,9” soflikdagi oltin quymalari jahonning qimmatbaho metallar
                bo‘yicha birjalarida O‘zbekistonning brendiga aylandi. O‘zbekiston Respublikasi mustaqillik yillarida
                NKMK rivojlanishning yangi bosqichiga qadam qo‘ydi. Amaldagi korxonalarni texnik va texnologik
                modernizatsiya qilish hamda yangi qayta ishlash quvvatlarini qurish natijasida kombinat mahsulot ishlab
                chiqarishda salmoqli yutuqlarga erishdi. "NKMK" AJ respublikamizning eng yirik sanoat korxonasi bo‘lib,
                zamonaviy konchilik asbob-uskunalari va texnologiyalar bilan jihozlangan, malakali muhandis, mutaxassis
                kadrlarga ega.

                Kombinat zamonaviy sanoat klasteri bo‘lib, unda ilm-fan va texnologiyalar integratsiyasining yangi
                shakllarini amalga oshirish uchun mustahkam poydevor yaratilgan. Kombinatning Innovatsiya markazi va
                ilmiy-tadqiqot laboratoriyalarida maʼdanni qazib olish va qayta ishlashning ko‘plab yo‘nalishlari
                bo‘yicha tadqiqotlar olib borilmoqda. </p>
                {% endblocktrans %}
            </div>

            <div class="btn-box" style="margin-top: 20pt;">
              <a href="https://www.ngmk.uz/uz/home/blog/kombinat-to-g-risida/biz-haqimizda%7D"
                class="theme-btn btn-style-one"><span class="btn-title">Ko'proq...</span></a>
            </div>
          </div>
        </div>

        <!-- Image Column -->
        <div class="image-column col-lg-5 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image-box">
              <br>
              <figure class="image wow fadeInRight">
                <a href="https://www.ngmk.uz/assets/public/images/muruntau.jpg" class="lightbox-image"
                  data-fancybox="images">
                  <img src="https://www.ngmk.uz/assets/public/images/muruntau.jpg" alt="">
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container marketing">
    <hr class="featurette-image">
    <h2 class="fw-normal" style="text-align: center; color: yellow; font-family: 'Times New Roman', Times, serif;">"NKMK" AJ ning ishchi xodimlari</h2>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" src="{% static 'imj/amaldor1.png' %}" width="140" height="140">

        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        <h2 class="fw-normal">Raxmatov Isroil Qurbanovich</h2>
        <p>NKMK xodimlari kasaba uyushmasi Kengashi raisi</p>
        <p><a class="btn btn-secondary" href="#">Ko`rish &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" src="{% static 'imj/amaldor2.png' %}" width="140" height="140">

        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        <h2 class="fw-normal">Raupov Xolmamat Rashidovich</h2>
        <p>Jamoatchilik bilan aloqalar bo‘yicha direktor
        </p>
        <p><a class="btn btn-secondary" href="#">Ko`rish &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" src="{% static 'imj/amaldor3.png' %}" width="140" height="140">

        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        <h2 class="fw-normal">Djurayev Abdumajid Irisovich</h2>
        <p>Matbuot markazi boshlig‘i</p>
        <p><a class="btn btn-secondary" href="#">Ko`rish &raquo;</a></p>
      </div>
      <div class="btn-box" style="text-align: center;">
        <a href="{%static 'pdf/11-ilova.pdf' %}"
          class="theme-btn btn-style-one"><span class="btn-title">Ko'proq...</span></a>
      </div>
    </div>

    <hr class="featurette-divider">

  </div><!-- /.container -->



  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-airplane-fill"
          viewBox="0 0 16 16">
          <path
            d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849" />
        </svg>

      </a>
    </p>
  </footer>
</main>
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}